<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Directory</title>
    <h1>Employee Directory</h1>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
	{% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <p></p>
          <div class="card bg-default">
            <h5 class="card-header">
            {% block head %}
            {% endblock %}
            </h5>
            <div class="card-body">
            {% block body %}
            {% endblock %}
            </div>
            <div class="card-footer small">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
    <script>

    $(function() {
      $('.corp-badge').on( "click", function() {
        var selectedIds = [];
        $(".corp-badge").each(function (idx, item) {
          if ($(item).is(":checked")) {
            selectedIds.push(item.id);
          }
        });
        $('#badges').val(selectedIds.join(","));
      });
    });
    </script>
  </body>
</html>
